:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Helvetica", sans-serif;
  --font3: "Proxima Nova", sans-serif;
  --font4: "Inter", sans-serif;
}

/* =-=--=-=-=-=reset style=-=-=-=--= */
body,
html {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  max-width: 1044px;
  margin: 0 auto;

  /* outline: red 1px solid; */
}
/* =-=--=-=-=-=header=-=-=-=--= */

.header-page {
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 26px 0;
}
.header-nav {
  margin-right: 32px;
}
.header-logo {
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  margin-right: auto;
}
.name-header {
  font-weight: 600;
  color: #166527;
}
.sub-name-header {
  font-weight: 800;
  color: #1a3724;
}

.menu-list {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.nav-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.icon-2 {
  color: #3f3f3f;
}

.bar-icons {
  display: flex;
  border: solid 1px;
  padding: 12px;
  border-radius: 50%;
  background-color: #ebe7e7;
}

/* =-=--=-=-=-=hero-section=-=-=-=--= */
.hero-section {
  padding: 96px 0 119px 0;
  background-color: black;
  background-image: url(../images/img/hero-bgr-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.deskcr-container {
  margin: 0 auto;
  max-width: 1041px;
  padding-top: 96px;
}
.hero-title {
  max-width: 475px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 44px;
  line-height: 127%;
  color: #fff;
  animation: text-flicker-in-glow 4s linear both;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.last-word {
  color: #f5b963;
}
.descr {
  max-width: 544px;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
}
.list-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
.list-items {
  display: flex;
}
.list-item {
  margin: 0 -4px;
}
.hero-raiting {
  color: #fff;
}
.hero-raiting::before {
  content: "★";
  color: #fff;
}

/* -=-=-=-=-=-=-=search-bar=-=-=-=-=-=-=-=- */

.search-bar {
  position: relative;
  top: -60px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 34px 0;

  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(39, 45, 77, 0.2),
    0 1px 2px 0 rgba(30, 30, 32, 0.2);
  background: #fff;
}

.bar-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px 0 27px;
  gap: 8px;
}
.list-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bar-item {
  width: 140px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  background: #eaeaea;
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.bar-item:first-child {
  width: 296px;
}
.bar-descr {
  color: #565656;
  line-height: 175%;
}
.bar-btn {
  padding-top: 13px;
  padding-bottom: 13px;
  line-height: 175%;
  color: #fff;
  border-radius: 4px;
  width: 236px;
  background: #233d2c;
  cursor: pointer;
  border: none;
  animation: shake-vertically 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4s
    infinite both;
}

@keyframes shake-vertically {
  0%,
  20% {
    transform: translateY(0);
  }
  2%,
  6%,
  10%,
  14% {
    transform: translateY(-10px);
  }
  4%,
  8%,
  12% {
    transform: translateY(10px);
  }
  16% {
    transform: translateY(8px);
  }
  18% {
    transform: translateY(-8px);
  }
}

.bar-btn:hover,
.bar-btn:focus {
  background: #196412f3;
}

/* -=-=-=-=-=-=-=-=cabins-cards=-=-=-=-=-=-=- */
.cabins-title-wrapper {
  margin-bottom: 20px;
  perspective: 500px;
}
.cabins-title-wrapper::after {
  display: flex;
  content: "";
  width: 122px;
  height: 2px;
  margin-top: 8px;
  background-color: #f5b963;
}

.cabins-title {
  font-family: var(--second-family);
  font-size: 28px;
  line-height: 93%;
  color: #22223c;
}

.card-price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}
.cabins-cards {
  padding-bottom: 50px;
}
.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}
.cabins-descr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cabins-sabtext {
  font-weight: 400;
  line-height: 175%;
  color: #47475f;
}
.cabins-link {
  font-weight: 500;
  line-height: 150%;
  color: #4a4a4a;
}

.cabins-link:hover,
.cabins-link:focus {
  color: #404bbf;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url(../images/img/Rectangle\ 147.png);
}
.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url(../images/img/Rectangle\ 148.png);
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url(../images/img/Rectangle\ 149.png);
}

.card__like {
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card__info-hover {
  position: absolute;
  border-radius: 4px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  margin: 8px;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  top: 0;
}
.card {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;

  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  width: 339px;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.card__info {
  z-index: 2;
  background: #2b3030;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 13px 18px 13px 18px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #d7fff1;
  line-height: 25.95px; /* 216.25% */
  font-family: Poppins;
}

.card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #fff;

  font-family: "Source Serif Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.95px; /* 129.75% */
}

.card__by {
  color: #e0f2eb;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.card:hover .card__img--hover {
  height: 100%;
  /* opacity: 0.3; */
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

/* -=-=-=-=-=-=-=-=inspiration=-=-=-=-=-=-=- */
.inspiration {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #f2faf9;
}

.inspiration-title {
  margin-bottom: 33px;

  font-family: var(--second-family);
  font-size: 28px;
  line-height: 93%;
  color: #22223c;
}

.inspiration-title::after {
  display: flex;
  content: "";
  width: 122px;
  height: 2px;
  margin-top: 8px;
  background-color: #f5b963;
}

.inspiration-descr-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.inspiration-text {
  line-height: 175%;
  color: #47475f;
}

.inspiration-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #4a4a4a;
}

.inspiration-link:hover,
.inspiration-link:focus {
  color: #404bbf;
}

.inspiration-card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
}

.inspiration-card_item {
  width: 334px;
}

.inspiration-card_descr {
  padding: 20px;
  background: #596363;
  border-radius: 0 0 4px 4px;
}

.inspiration-card_text {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #d7fff1;
}
.inspiration-card_subtitle {
  margin-bottom: 20px;

  font-family: var(--second-family);
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
.inspiration-card_subtext {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.04em;
  color: #fff;
}

/* -=-=-=-=-=-=-=-=-=testimonials=-=-=-=-=-=-=-=- */

.testimonials {
  background-image: url(../images/img/purple-woman.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.testimonials-wrapper {
  width: 419px;
  margin-left: auto;
  padding-top: 148px;
  padding-bottom: 54px;
}
.testimonials-title {
  margin-bottom: 20px;

  font-family: var(--second-family);
  font-size: 44px;
  line-height: 123%;
  color: #fff;
}

.first-text {
  margin-bottom: 23px;
}

.testimonials-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
}
.rating {
  width: 419px;
  display: flex;
  color: #fff;
  margin-left: auto;
  padding-bottom: 167px;
  gap: 12px;
}
.rating::before {
  content: "★★★★★";
  display: flex;
  color: #fff;
  background-color: #1bb580;
}
